<a href="https://colab.research.google.com/github/Adansote/Proyecto2-analisis-demografico-python-/blob/main/Analis_de_datos_demogr%C3%A1ficos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Proyecto 2**

**Analizador de datos demográficos**

Trabajarás en este proyecto con nuestro código inicial de Ona.

Aún estamos desarrollando la parte didáctica interactiva del currículo de Python. Por ahora, aquí tienes algunos vídeos en el canal de YouTube de freeCodeCamp.org que te enseñarán todo lo necesario para completar este proyecto.

En este desafío debes analizar datos demográficos usando Pandas. Se te proporciona un conjunto de datos demográficos extraídos de la base de datos del Censo de 1994. Aquí tienes un ejemplo de cómo se ven los datos:

In [1]:
import pandas as pd
import numpy as np

**En este desafío debes analizar datos demográficos usando Pandas. Se te proporciona un conjunto de datos demográficos extraídos de la base de datos del Censo de 1994. Aquí tienes un ejemplo de cómo se ven los datos:**



*  ¿Cuántas personas de cada raza están representadas en este conjunto de datos? Debe ser una serie de Pandas con los nombres de las razas como etiquetas de índice (columna de raza).

* ¿Cuál es la edad promedio de los hombres?

¿Qué porcentaje de personas tiene una licenciatura?

* ¿Qué porcentaje de personas con estudios superiores (licenciatura, maestría o doctorado) gana más de 50 000?

* ¿Qué porcentaje de personas sin estudios superiores gana más de 50 000?

* ¿Cuál es el número mínimo de horas que una persona trabaja por semana?

* ¿Qué porcentaje de las personas que trabajan el número mínimo de horas por semana tiene un salario superior a 50 000?

* ¿Qué país tiene el mayor porcentaje de personas que ganan más de 50 000 y cuál es ese porcentaje?

* Identifique la ocupación más popular para quienes ganan más de 50 000 en India.

Utilice el código inicial del archivo demographic_data_analyzer.py. Actualice el código para que todas las variables establecidas en None se asignen al cálculo o código apropiado. Redondee todos los decimales a la décima más cercana.

**Desarrollo**
Escriba su código en demographic_data_analyzer.py. Para el desarrollo, puede usar main.py para probar su código.

**Pruebas**
Las pruebas unitarias de este proyecto se encuentran en test_module.py. Para su comodidad, hemos importado las pruebas de test_module.py a main.py.

**Envio**
Copia la URL de tu proyecto y envíala a freeCodeCamp.

**Fuente del conjunto de datos**
Dua, D. y Graff, C. (2019). Repositorio de aprendizaje automático de la UCI. Irvine, CA: Universidad de California, Escuela de Información y Ciencias de la Computación.

In [ ]:
df = pd.read_csv('/content/adult.csv')
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

** informacion de los datos**

In [ ]:
df.shape
#filas - columas

(32561, 15)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education.num   32561 non-null  int64
 5   marital.status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital.gain    32561 non-null  int64
 11  capital.loss    32561 non-null  int64
 12  hours.per.week  32561 non-null  int64
 13  native.country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [ ]:
df.describe()

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [ ]:
#deteccion de datos repetidos
print(f"Tamaño del set antes de eliminar las filas repetidas:{df.shape} ")
df.drop_duplicates(inplace=True)
print(f"Tamaño del set despues de eliminar las filas repetidas:{df.shape}")

Tamaño del set antes de eliminar las filas repetidas:(32561, 15)
Tamaño del set despues de eliminar las filas repetidas:(32537, 15)

In [ ]:
# Contar nulos por columna
print("Nulos por columna:")
print(df.isnull().sum())

Nulos por columna:
age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
income            0
dtype: int64

In [ ]:
# Contar strings vacíos o solo espacios
vacios = (df['workclass'] == '').sum()
solo_espacios = (df['workclass'].str.strip() == '').sum()
print(f"Strings vacíos: {vacios}")
print(f"Solo espacios: {solo_espacios}")

Strings vacíos: 0
Solo espacios: 0

In [ ]:
# Contar por columna las que tengan caracter de ?
print("\nCaracteres '?' por columna:")
for columna in df.columns:
    if df[columna].dtype == 'object':  # Solo en columnas de texto
        conteo = df[columna].apply(lambda x: str(x).count('?') if pd.notna(x) else 0).sum()
        print(f"{columna}: {conteo}")

Caracteres '?' por columna:
workclass: 1836
education: 0
marital.status: 0
occupation: 1843
relationship: 0
race: 0
sex: 0
native.country: 582
income: 0

**¿Cuántas personas de cada raza están representadas en este conjunto de datos? Debe ser una serie de Pandas con los nombres de las razas como etiquetas de índice (columna de raza).**

In [ ]:
distribucion_por_raza =df['race'].value_counts()

In [ ]:
distribucion_por_raza

race
White                 27795
Black                  3122
Asian-Pac-Islander     1038
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

**¿Cuál es la edad promedio de los hombres?**

In [ ]:
promedio_edad_hombres =  df[df['sex'] == 'Male']['age'].mean()

In [ ]:
print(f"La edad promedio de los hombres es: {promedio_edad_hombres:.1f} años")

La edad promedio de los hombres es: 39.4 años

**¿Qué porcentaje de personas tiene una licenciatura?**

In [ ]:
distribucion_educativa =df['education'].value_counts()

In [ ]:
distribucion_educativa

education
HS-grad         10494
Some-college     7282
Bachelors        5353
Masters          1722
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           645
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           332
1st-4th           166
Preschool          50
Name: count, dtype: int64

In [ ]:
print(distribucion_educativa.sum())

32537

In [ ]:
# Ver todas las categorías educativas disponibles
print("Categorías educativas únicas:")
print(df['education'].unique())

Categorías educativas únicas:
['HS-grad' 'Some-college' '7th-8th' '10th' 'Doctorate' 'Prof-school'
 'Bachelors' 'Masters' '11th' 'Assoc-acdm' 'Assoc-voc' '1st-4th' '5th-6th'
 '12th' '9th' 'Preschool']

In [ ]:
personas_con_lic = (df['education'] == 'Bachelors').sum()

In [ ]:
personas_con_lic

np.int64(5353)

In [ ]:
#calculo de porcentaje de personas que tienen licenciaura
porcentaje_con_lic= (personas_con_lic / distribucion_educativa.sum())*100

In [ ]:

print(f"porcentaje con licenciatura: {porcentaje_con_lic:.1f}%")

porcentaje con licenciatura: 16.5%

**¿Qué porcentaje de personas con estudios superiores (licenciatura, maestría o doctorado) gana más de 50 000?**'Doctorate'
 'Bachelors' 'Masters

In [ ]:
ganan_mas_de50 = (df['income']=='>50K').sum()

In [ ]:
ganan_mas_de50

np.int64(7839)

In [ ]:
personas_con_Doc = (df['education'] == 'Doctorate').sum()

In [ ]:
personas_con_Mas = (df['education'] == 'Masters').sum()

In [ ]:
print(f"{personas_con_Doc} personas con doctorado")
print(f"{personas_con_Mas} personas con maestria")
print(f"{personas_con_lic} personas con licenciatura")
print(f"{personas_con_Doc +personas_con_Mas+personas_con_lic}")

413 personas con doctorado
1722 personas con maestria
5353 personas con licenciatura
7488

In [ ]:
#1 .- # 1. Definir los niveles educativos de interés
nivel_superior = ['Doctorate', 'Bachelors', "Masters"]

In [ ]:
nivel_superior

['Doctorate', 'Bachelors', 'Masters']

In [ ]:
# 2. Máscara para TODAS las personas con estudios superiores
# 'isin()' verifica si el valor de 'education' está en la lista 'niveles_superiores'
mascara_superior = df['education'].isin(nivel_superior)

In [ ]:
# 3. Máscara para ingresos > $50K
marcara_ingresos_altos= df['income'] == '>50K'

In [ ]:
# Total de personas con Licenciatura, Maestría o Doctorado
total_superior = mascara_superior.sum()

In [ ]:
# Total de personas con Estudios Superiores Y que ganan > $50K
# Usamos el operador AND (&) entre las dos máscaras
personas_superior_50k = (mascara_superior & marcara_ingresos_altos).sum()

In [ ]:
# calculo
if total_superior > 0:
  porcentaje_superior_50k = (personas_superior_50k / total_superior) * 100
else:
    porcentaje_superior_50k = 0

# Resultados
print(f"Total de personas con estudios superiores (Lic/Mtr/Dr): {total_superior}")
print(f"Total de personas superiores que ganan > $50K: {personas_superior_50k}")
print("-" * 50)
print(f"✅ Porcentaje total que gana más de $50K: {porcentaje_superior_50k:.2f}%")

Total de personas con estudios superiores (Lic/Mtr/Dr): 7488
Total de personas superiores que ganan > $50K: 3486
--------------------------------------------------
✅ Porcentaje total que gana más de $50K: 46.55%

**¿Qué porcentaje de personas sin estudios superiores gana más de 50 000?**

In [ ]:
#¿Qué porcentaje de personas sin estudios superiores gana más de 50 000?
nivel_inferior =df['education'] != 'Doctorate',"Bachelors","Masters"

In [ ]:
# 2. Máscara para TODAS las personas con estudios superiores
# 'isin()' verifica si el valor de 'education' está en la lista 'niveles_superiores'
mascara_inferior = df['education'].isin(nivel_inferior)

In [ ]:
# total de personas con estudios inferiores
total_inferiores = mascara_inferior.sum()
total_inferiores

np.int64(7075)

In [ ]:
# 3. Máscara para ingresos > $50K
marcara_ingresos_altos_inferiores = df['income'] == '>50K'

In [ ]:
# Total de personas con Estudios inferiores Y que ganan > $50K
# Usamos el operador AND (&) entre las dos máscaras
personas_inferiores_50k = (mascara_inferior & marcara_ingresos_altos_inferiores).sum()

In [ ]:
# calculo
if total_inferiores > 0:
  porcentaje_inferiores_50k = (personas_inferiores_50k / total_inferiores) * 100
else:
    porcentaje_inferiores_50k = 0

# Resultados
print(f"Total de personas con estudios inferiores: {total_inferiores}")
print(f"Total de personas de estudios inferiores que ganan > $50K: {personas_inferiores_50k}")
print("-" * 50)
print(f"✅ Porcentaje total que gana más de $50K: {porcentaje_inferiores_50k:.2f}%")

Total de personas con estudios inferiores: 7075
Total de personas de estudios inferiores que ganan > $50K: 3180
--------------------------------------------------
✅ Porcentaje total que gana más de $50K: 44.95%

**¿Cuál es el número mínimo de horas que una persona trabaja por semana?**

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32537 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32537 non-null  int64
 1   workclass       32537 non-null  object
 2   fnlwgt          32537 non-null  int64
 3   education       32537 non-null  object
 4   education.num   32537 non-null  int64
 5   marital.status  32537 non-null  object
 6   occupation      32537 non-null  object
 7   relationship    32537 non-null  object
 8   race            32537 non-null  object
 9   sex             32537 non-null  object
 10  capital.gain    32537 non-null  int64
 11  capital.loss    32537 non-null  int64
 12  hours.per.week  32537 non-null  int64
 13  native.country  32537 non-null  object
 14  income          32537 non-null  object
dtypes: int64(6), object(9)
memory usage: 4.0+ MB

In [ ]:
hora_min = df['hours.per.week'].min()
print(f"la cantidad minima de horas por persona :{hora_min}")

la cantidad minima de horas por persona :1

In [ ]:
hora_max = df['hours.per.week'].max()
print(f"la cantidad maxima de horas por persona :{hora_max}")

la cantidad maxima de horas por persona :99

¿Qué porcentaje de las personas que trabajan el número mínimo de horas por semana tiene un salario superior a 50 000?
**

In [ ]:
# Cuenta el número de filas en tu DataFrame cargado  para saber el numero de personas
numero_total_de_personas = len(df)
print(f"La cantidad total de personas en este DataFrame es: {numero_total_de_personas}")

La cantidad total de personas en este DataFrame es: 32537

In [ ]:
# 1. ENCONTRAR EL MÍNIMO DE HORAS
horas_minimas = df['hours.per.week'].min()

In [ ]:
# 2. Contar el número de personas que trabajan esas horas mínimas
# Creamos una máscara booleana donde las horas trabajadas sean iguales al mínimo
total_min_horas = (df['hours.per.week'] == horas_minimas).sum()

In [ ]:
# b) Personas que trabajan el mínimo de horas Y tienen ingresos > $50K
personas_min_horas_50k = ((df['hours.per.week'] == horas_minimas) & (df['income'] == '>50K')).sum()

In [ ]:
# calculo
if total_min_horas > 0:
  porcentaje_personas_50k = (personas_min_horas_50k / total_min_horas) * 100
else:
    porcentaje_personas_50k = 0

# Resultados
print(f"Horas mínimas por semana encontradas: {horas_minimas}")
print(f"Total de personas que trabajan {horas_minimas} horas: {total_min_horas}")
print(f"De ese grupo, cuántos ganan > $50K: {personas_min_horas_50k}")
print("-" * 50)
print(f"✅ Porcentaje{porcentaje_personas_50k:.2f}%")

Horas mínimas por semana encontradas: 1
Total de personas que trabajan 1 horas: 20
De ese grupo, cuántos ganan > $50K: 2
--------------------------------------------------
✅ Porcentaje10.00%

**¿Qué país tiene el mayor porcentaje de personas que ganan más de 50 000 y cuál es ese porcentaje?'native.country''income'**

In [ ]:
# Trae las variables únicas Y la frecuencia con la que aparecen
conteo_de_variables_pais = df['native.country'].value_counts()
conteo_de_variables_pais

native.country
United-States                 29153
Mexico                          639
?                               582
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        62
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
Greece                           29
France                           29
Ecuador                          28
Ireland                          24
Hong                             20
Trinadad&Tobago                  19
Cambodia                         19
Thailand                         18
Laos                             18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Hungary                          13
Honduras                         13
Scotland                         12
Holand-Netherlands                1
Name: count, dtype: int64

In [ ]:
suma_variables_pais = conteo_de_variables_pais.sum()
suma_variables_pais

np.int64(32537)

In [ ]:
pais_ganacia_50k = df[df['income'] == '>50K']['native.country'].value_counts()
pais_ganacia_50k

native.country
United-States         7169
?                      146
Philippines             61
Germany                 44
India                   40
Canada                  39
Mexico                  33
England                 30
Cuba                    25
Italy                   25
Japan                   24
China                   20
Taiwan                  20
Iran                    18
South                   16
Puerto-Rico             12
France                  12
Poland                  12
Jamaica                 10
El-Salvador              9
Greece                   8
Cambodia                 7
Yugoslavia               6
Hong                     6
Vietnam                  5
Ireland                  5
Haiti                    4
Ecuador                  4
Portugal                 4
Thailand                 3
Guatemala                3
Hungary                  3
Scotland                 3
Trinadad&Tobago          2
Peru                     2
Nicaragua                2
Columbia                 2
Dominican-Republic       2
Laos                     2
Honduras                 1
Name: count, dtype: int64

In [ ]:
mascara_pais_ganacia_50k = pais_ganacia_50k.idxmax()
mascara_cantidad_ganacia_50k = pais_ganacia_50k.max()

In [ ]:
porcentaje_pais_ganacia_50k = (mascara_cantidad_ganacia_50k / suma_variables_pais) * 100
porcentaje_pais_ganacia_50k

np.float64(22.03337738574546)

In [ ]:
#resultados
print(f"Total de las variables {suma_variables_pais}")
print(f"Pais con mas de 50k: {mascara_pais_ganacia_50k} cantidad: {mascara_cantidad_ganacia_50k}")
print(f"✅ Porcentaje: {porcentaje_pais_ganacia_50k:.2f}%")

Total de las variables 32537
Pais con mas de 50k: United-States cantidad: 7169
✅ Porcentaje: 22.03%

Con apoyo de la IA se llega a otro resultado de manera vista mas estadisticamente
"El Sesgo de EU (Cantidad Absoluta): Estados Unidos tiene, por naturaleza, la mayor cantidad de ganadores de altos ingresos en el dataset porque es el país con el mayor número de registros. Sin embargo, esta cifra absoluta no dice nada sobre la probabilidad de que un residente de EE. UU. gane más de $50K.

La Fuerza de Irán (Tasa de Éxito): Irán tiene una población mucho menor. Su alta tasa de éxito (porcentaje) significa que de cada 100 iraníes en el dataset, un mayor número proporcional gana más de $50K en comparación con 100 estadounidenses.

Conclusión: La tasa de éxito de Irán es superior a la de Estados Unidos, porque su porcentaje de ganadores sobre su total de población muestreada es mayor, incluso si el número absoluto de ganadores es mucho menor."

In [ ]:
# 1. Agrupar por país y calcular el total de registros por país (el DENOMINADOR)
total_por_pais = df['native.country'].value_counts()

In [ ]:
total_por_pais

native.country
United-States                 29153
Mexico                          639
?                               582
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        62
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
Greece                           29
France                           29
Ecuador                          28
Ireland                          24
Hong                             20
Trinadad&Tobago                  19
Cambodia                         19
Thailand                         18
Laos                             18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Hungary                          13
Honduras                         13
Scotland                         12
Holand-Netherlands                1
Name: count, dtype: int64

In [ ]:
# 2. Agrupar por país y calcular el total de ganadores > $50K (el NUMERADOR)
# Convertimos el booleano (income == '>50K') a entero (True=1, False=0) y sumamos
ganadores_por_pais = df.groupby('native.country')['income'].apply(lambda x: (x == '>50K').sum())

In [ ]:
ganadores_por_pais

native.country
?                              146
Cambodia                         7
Canada                          39
China                           20
Columbia                         2
Cuba                            25
Dominican-Republic               2
Ecuador                          4
El-Salvador                      9
England                         30
France                          12
Germany                         44
Greece                           8
Guatemala                        3
Haiti                            4
Holand-Netherlands               0
Honduras                         1
Hong                             6
Hungary                          3
India                           40
Iran                            18
Ireland                          5
Italy                           25
Jamaica                         10
Japan                           24
Laos                             2
Mexico                          33
Nicaragua                        2
Outlying-US(Guam-USVI-etc)       0
Peru                             2
Philippines                     61
Poland                          12
Portugal                         4
Puerto-Rico                     12
Scotland                         3
South                           16
Taiwan                          20
Thailand                         3
Trinadad&Tobago                  2
United-States                 7169
Vietnam                          5
Yugoslavia                       6
Name: income, dtype: int64

In [ ]:
# 3. Calcular el Porcentaje: Dividir los ganadores por el total de personas en ese país
porcentaje_ganador = (ganadores_por_pais / total_por_pais) * 100

In [ ]:
porcentaje_ganador

native.country
?                             25.085911
Cambodia                      36.842105
Canada                        32.231405
China                         26.666667
Columbia                       3.389831
Cuba                          26.315789
Dominican-Republic             2.857143
Ecuador                       14.285714
El-Salvador                    8.490566
England                       33.333333
France                        41.379310
Germany                       32.116788
Greece                        27.586207
Guatemala                      4.838710
Haiti                          9.090909
Holand-Netherlands             0.000000
Honduras                       7.692308
Hong                          30.000000
Hungary                       23.076923
India                         40.000000
Iran                          41.860465
Ireland                       20.833333
Italy                         34.246575
Jamaica                       12.345679
Japan                         38.709677
Laos                          11.111111
Mexico                         5.164319
Nicaragua                      5.882353
Outlying-US(Guam-USVI-etc)     0.000000
Peru                           6.451613
Philippines                   30.808081
Poland                        20.000000
Portugal                      10.810811
Puerto-Rico                   10.526316
Scotland                      25.000000
South                         20.000000
Taiwan                        39.215686
Thailand                      16.666667
Trinadad&Tobago               10.526316
United-States                 24.590951
Vietnam                        7.462687
Yugoslavia                    37.500000
dtype: float64

In [ ]:
# 4. Encontrar el país con el porcentaje MÁXIMO
pais_max_porcentaje = porcentaje_ganador.idxmax()
porcentaje_maximo = porcentaje_ganador.max()

In [ ]:
# --- Mostrar Resultados ---

print(f"Total de países analizados: {len(total_por_pais)}")
print("-" * 50)
print(f"🏆 País con el MAYOR PORCENTAJE de personas que ganan > $50K: {pais_max_porcentaje}")
print(f"✅ Porcentaje Máximo (dentro del país): {porcentaje_maximo:.2f}%")

Total de países analizados: 42
--------------------------------------------------
🏆 País con el MAYOR PORCENTAJE de personas que ganan > $50K: Iran
✅ Porcentaje Máximo (dentro del país): 41.86%

**Identifique la ocupación más popular para quienes ganan más de 50 000 en India**

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32537 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32537 non-null  int64
 1   workclass       32537 non-null  object
 2   fnlwgt          32537 non-null  int64
 3   education       32537 non-null  object
 4   education.num   32537 non-null  int64
 5   marital.status  32537 non-null  object
 6   occupation      32537 non-null  object
 7   relationship    32537 non-null  object
 8   race            32537 non-null  object
 9   sex             32537 non-null  object
 10  capital.gain    32537 non-null  int64
 11  capital.loss    32537 non-null  int64
 12  hours.per.week  32537 non-null  int64
 13  native.country  32537 non-null  object
 14  income          32537 non-null  object
dtypes: int64(6), object(9)
memory usage: 4.0+ MB

In [ ]:
ocupacion_top = df[(df['native.country'] == 'India') & (df['income'] == '>50K')]['occupation'].value_counts()
ocupacion_top

occupation
Prof-specialty      25
Exec-managerial      8
Tech-support         2
Other-service        2
Transport-moving     1
Sales                1
Adm-clerical         1
Name: count, dtype: int64

In [ ]:
ocupacion_top_max = ocupacion_top.idxmax()
print(f"la ocupacion mas popular de la india y gana mas de 50k es : {ocupacion_top_max}")

la ocupacion mas popular de la india y gana mas de 50k es : Prof-specialty